body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.button {
  background-color: #f0f0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:12px;
  border-radius: 6px;

}

.navbar-title{
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem; 
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  background-color: antiquewhite;
}

.nav-links{
  display: flex;
  margin-left: 3rem;
}

.nav-element{
  margin: 0 0 0 3rem;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgb(13, 13, 13);
  font-size: 1rem;
  transition: color 0.3s;
}
.mobile-menu-icon {
  display: none;
}

/* Profile */
.profile-page{
  display: flex;
  justify-content: space-evenly;
  margin: 8rem;
}
.profile-image{
  width:25rem
}

.resume-button {
  display: inline-block;
  border: 1px solid;
  padding: 15px;
  border-radius: 25px;
  margin: 40px 0px 10px 0px;
}

.contact-form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-container {
  margin-bottom: 15px;
}

.input-container label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container input:focus,
.input-container textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

.input-container textarea {
  resize: vertical;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 180px;
}

/* tablet */
@media (max-width: 830px) {
  .navbar-title{
    font-size: 1rem; 
  }
  
  .nav-element{
    margin: 0 0 0 1rem;
  }
  /* profile */
  .profile-page{
    align-items: center;
  }
  .profile-image{
    width:10rem
  }
}

/* mobile */
@media (max-width: 600px) {
  
  .nav-links{
    display: none;
  }
  .mobile-menu-icon {
    display: inline-block;
  }
  /* profile */
  .profile-page{
    flex-direction: column-reverse;
    align-items: center;
    margin: 4rem;
  }
  .profile-image{
    width:10rem;
  }
 
}