body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar-title{
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem; 
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  background-color: antiquewhite;
}

.nav-links{
  display: flex;
  margin-left: 3rem;
}

.nav-element{
  margin: 0 0 0 3rem;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgb(13, 13, 13);
  font-size: 1rem;
  transition: color 0.3s;
}
.mobile-menu-icon {
  display: none;
}

/* tablet */
@media (max-width: 768px) {
  .navbar-title{
    font-size: 1rem; 
  }
  .nav-element{
    margin: 0 0 0 1rem;
  }
}

/* mobile */
@media (max-width: 426px) {
  
  .nav-links{
    display: none;
  }
  .mobile-menu-icon {
    display: inline-block;
  }
}